<nav
  x-data="{
    isOpen: false,
    id: $id('modal-title')
  }"
 class="fixed top-0 inset-x-0 z-20 bg-black h-12">
  <div class="hidden xl:block mx-auto h-full">
    <ul class="flex justify-center gap-2 h-full">
       {% for item in menu.items %}
        <li class="h-full">
          <a
          href="{{item.link}}" {{item.current ? 'aria-current="page"'}} {{ item.is_target_blank ? 'target="_blank"' }}
          class="flex items-center h-full px-3 pt-1 uppercase font-bold text-sm text-white tracking-loose border-b-4 {{item.current ? 'border-white' : 'border-transparent'}}">
            {{- item.title -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

    {# Mobile Nav #}
  <button
    class="text-white px-3 h-full flex items-center ml-auto xl:hidden"
    @click="isOpen = true"
    aria-label="Menu">
      <span class="icon-[material-symbols--menu-rounded] h-8 w-8"></span>
  </button>

  <div
    x-cloak
    class="fixed inset-0 overflow-y-auto"
    role="dialog"
    :aria-labelledby="$id('modal-title')"
    aria-modal="true"
    x-show="isOpen"
    @keydown.escape.prevent.stop="isOpen = false"
    >
      {# Backdrop #}
      <div
        x-show="isOpen"
        @click="isOpen = false"
        x-transition.opacity.300ms
        class="fixed inset-0 bg-black/40"
        aria-hidden="true"
        ></div>

      {# Modal #}
      <div
        @click.stop
        x-show="isOpen"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        x-trap.noscroll.inert="isOpen"
        class="fixed w-full max-w-sm bg-black p-8 pt-10 shadow-lg inset-y-0 right-0"
        >

        <h2 class="sr-only" :id="$id('modal-title')">Navigation Menu</h2>

        <ul>
        {% for item in menu.items %}
          <li>
            <a
            href="{{item.link}}" {{item.current ? 'aria-current="page"'}} {{ item.is_target_blank ? 'target="_blank"' }}
            class="flex items-center h-12 px-3 uppercase font-bold text-sm text-white tracking-loose -ml-4">
              <span class="border-l-4 pl-4 {{item.current ? 'border-white' : 'border-transparent'}}">{{- item.title -}}</span>
            </a>
          </li>
        {% endfor %}
        </ul>

          <div class="absolute top-2 right-0">
            <button
            class="text-white px-3 h-full flex items-center ml-auto xl:hidden"
            @click="isOpen = false"
            aria-label="Close menu"
            >
              <span class="icon-[material-symbols--close-rounded] h-8 w-8"></span>
            </button>
          </div>
      </div>
  </div>

</nav>
