{% extends "site-base.twig" %}

{% set bg_image = theme.path ~ '/assets/images/image4_1.jpg' %}
{% set logo_image = theme.path ~ '/assets/images/Alpha_logo.png' %}

{% block content %}

<div>

  <div class="h-[1000px] w-full bg-black relative flex items-center justify-center z-0">
    <div aria-hidden="true" class="h-full w-full object-cover opacity-40 absolute z-0 inset-0 bg-cover" style="background-image:url('{{bg_image}}')"></div>
    <div class="relative z-10 container mx-auto px-4">
      <img class="w-80 mx-auto mb-8 hidden lg:block" src="{{logo_image}}" alt="">
      <h1 class="text-white font-old-standard text-4xl lg:text-6xl font-bold max-w-5xl mb-6 mx-auto text-center leading-tight">Ready to Fully Clean Out the Junk in Your Home?</h1>
      <p class="text-xl lg:text-2xl text-white max-w-3xl mx-auto text-center mb-12 py-3 px-4 bg-[#0016A2]/70 [clip-path:polygon(98%_0,_100%_50%,_98%_100%,_2%_100%,_0_50%,_2%_0)]">Work with our junk removal company in Grand Island, NY and the Western NY area</p>
      <div class="text-center">
        <a class="bg-white text-sm uppercase text-[#0016A2] py-2.5 px-5 rounded-sm font-bold tracking-widest inline-flex hover:rounded-[32px] hover:text-white hover:bg-[#0016A2] transition-all duration-300" href="/contact-us">Contact Us Today</a>
      </div>
    </div>
  </div>

  {% set bg_image_1 = theme.path ~ '/assets/images/bg_image_1.jpg' %}
  <div class="relative bg-[#0016A2] py-32 text-white text-center px-4">
    <div aria-hidden="true" class="h-full w-full object-cover opacity-20 absolute z-0 inset-0 bg-cover" style="background-image:url('{{bg_image_1}}')"></div>
    <div class="space-y-5 container mx-auto relative z-10">
      <div class="max-w-5xl">
        <h2 class="font-old-standard text-3xl lg:text-4xl font-bold text-center">Don't Break Your Back Hauling Junk on Your Own</h2>
      </div>
      <div class="space-y-5 max-w-4xl">
        <p class="text-xl lg:text-2xl">Depend on our junk removal company instead in Grand Island, NY and the Western NY area</p>
        <p class="text-lg">Is your home full of clutter? Work with Alpha Junk Removal & Services for junk removal services. Our professional team is ready to clear your property of any debris or old, clunky items, from furniture to clothing to refrigerators. As long as you give us a day's notice, we'll help you through any situation at any time.</p>
        <p class="text-lg">We even provide emergency junk removal services, so we can be there whenever you need us. Let's keep your property clean together. Call 716-783-1085 now for junk removal services in Grand Island, NY and the Western NY area.</p>
      </div>
    </div>
  </div>

{% set services = [{
    label: 'Junk Removal',
    src: theme.path ~ '/assets/images/garbage_truck_icon.png',
    href: '/junk-removal'
  },
  {
    label: 'Dumpster Services',
    src: theme.path ~ '/assets/images/dumpster_icon.png',
    href: '/dumpster-services'
  },
  {
    label: 'Estate Cleanouts',
    src: theme.path ~ '/assets/images/garbage_bag_icon.png',
    href: '/estate-cleanouts'
  },
  {
    label: 'Emergency Service',
    src: theme.path ~ '/assets/images/24_hours_support_icon.png',
    href: '/emergency-service'
  }] %}

  <div class="py-20 container mx-auto px-4">
    <div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-12">
      {% for service in services %}
      <div class="group relative border-[5px] border-[#0016A2] bg-white rounded-sm p-6 text-center hover:rounded-3xl hover:bg-[#0016A2] hover:scale-110 hover:shadow-2xl transition-all duration-300">
        <img class="h-20 object-contain mx-auto mb-4 group-hover:brightness-0 group-hover:invert duration-300" src="{{service.src}}" alt="">
        <div>
          <a class="font-old-standard uppercase font-bold text-xl text-[#0016A2] after:absolute after:inset-0 after:z-10 group-hover:text-white duration-300" href="{{service.href}}">{{service.label}}</a>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>

  <div class="h-[1000px] w-full bg-black relative flex items-center justify-center z-0 px-4">
    <div aria-hidden="true" class="h-full w-full object-cover opacity-40 absolute z-0 inset-0 bg-cover" style="background-image:url('{{bg_image}}')"></div>
    <div class="relative z-10 container mx-auto">
      <h2 class="text-white font-old-standard text-4xl lg:text-6xl font-bold max-w-5xl mb-6 mx-auto text-center leading-tight">Let a Professional Take the Load Off Your Shoulders</h2>
      <p class="text-xl lg:text-2xl text-white max-w-3xl mx-auto text-center mb-12 py-3 px-4 bg-[#0016A2]/70 [clip-path:polygon(98%_0,_100%_50%,_98%_100%,_2%_100%,_0_50%,_2%_0)]">Choose us for junk removal services</p>
      <div class="text-center">
        <a class="bg-white text-sm uppercase text-[#0016A2] py-2.5 px-5 rounded-sm font-bold tracking-widest inline-flex hover:rounded-[32px] hover:text-white hover:bg-[#0016A2] transition-all duration-300" href="/contact-us">Contact Us Today</a>
      </div>
    </div>
  </div>

  {% set services_two = [{
    label: 'Remove Any Debris',
    href: '/junk-removal'
  },
  {
    label: 'Provide a Dumpster Rental',
    href: '/dumpster-services'
  },
  {
    label: 'Clean Out Your Loved Ones Estate',
    href: '/estate-cleanouts'
  },
  {
    label: 'Take Care of Emergency Junk Removal Services',
    href: '/emergency-service'
  }] %}

  {% set bg_image_2 = theme.path ~ '/assets/images/bg_image_2.jpg' %}
  <div class="bg-[#0016A2] py-32 relative">
    <div aria-hidden="true" class="h-full w-full object-cover opacity-20 absolute z-0 inset-0 bg-cover" style="background-image:url('{{bg_image_2}}')"></div>
    <div class="text-white text-center container px-4 mx-auto relative z-10">
      <div class="max-w-4xl mx-auto space-y-5">
        <h2 class="font-old-standard text-3xl lg:text-4xl font-bold text-center">Get more familiar with our services</h2>
        <p class="text-xl lg:text-2xl">We enjoy helping out our customers as much as possible. That's why we offer a wide range of junk removal services. If your property could use a deep clean, ask us to:</p>
      </div>
      <div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-12 py-20">
        {% for service in services_two %}
      <div class="group relative border-[5px] border-white bg-black/0 rounded-sm p-6 flex items-center justify-center hover:rounded-3xl hover:bg-black/80 hover:scale-110 hover:text-[#0016A2] hover:shadow-2xl transition-all duration-300">
        <a class="font-old-standard uppercase font-bold text-lg text-white after:absolute after:inset-0 after:z-10 group-hover:text-white duration-300" href="{{service.href}}">{{service.label}}</a>
      </div>
      {% endfor %}
      </div>
      <div class="max-w-4xl mx-auto">
        <p class="text-lg">We even offer snow removal services. No matter the situation, we'll help you get your property back in order. Reach out to our junk removal company now.</p>
      </div>
    </div>
  </div>

  {% set dumpster_image = theme.path ~ '/assets/images/dumpster.jpg' %}
  <div class="bg-white py-20 container mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-12">
      <img class="h-full w-full object-contain" src="{{dumpster_image}}" alt="">
      <div class="flex items-center">
        <div>
          <h2 class="font-old-standard text-3xl font-bold text-[#0016A2] mb-2">Why work with our company?</h2>
          <p class="text-lg mb-6">By choosing Alpha Junk Removal & Services to haul your junk, you'll be partnering with a company who aims to put its customers first on every job. We don't believe the job is done until you are completely satisfied. You can rest easy knowing that we:</p>
          <ul class="mb-6 text-lg space-y-1 lg:pl-16">
            <li class="before:icon-image-[material-symbols--task-alt-rounded] before:[mask-image:--svg] before:[mask-repeat:no-repeat] before:[mask-size:contain] before:h-5 before:w-5 before:mr-2 before:text-[#0016A2] before:bg-[currentColor] flex items-center">Offer competitive pricing on fast service</li>
            <li class="before:icon-image-[material-symbols--task-alt-rounded] before:[mask-image:--svg] before:[mask-repeat:no-repeat] before:[mask-size:contain] before:h-5 before:w-5 before:mr-2 before:text-[#0016A2] before:bg-[currentColor] flex items-center">Have years of experience in the industry</li>
            <li class="before:icon-image-[material-symbols--task-alt-rounded] before:[mask-image:--svg] before:[mask-repeat:no-repeat] before:[mask-size:contain] before:h-5 before:w-5 before:mr-2 before:text-[#0016A2] before:bg-[currentColor] flex items-center">Provide free estimates on every job</li>
          </ul>
          <p class="text-lg">If you need a dependable team to haul away your junk, we're ready to help you. Make us your go-to junk removal company.</p>
        </div>
      </div>
    </div>
  </div>

  {% set bg_image_3 = theme.path ~ '/assets/images/bg_image_3.jpg' %}
  <div class="bg-[#0016A2] py-32 text-white text-center relative">
    <div aria-hidden="true" class="h-full w-full object-cover opacity-20 absolute z-0 inset-0 bg-cover" style="background-image:url('{{bg_image_3}}')"></div>
    <div class="container mx-auto relative z-10 px-4">
      <div class="mx-auto space-y-5">
        <div class="max-w-5xl">
          <h2 class="font-old-standard text-3xl lg:text-4xl font-bold text-center">Offering compassionate services during your time of loss</h2>
        </div>
        <div class="max-w-4xl space-y-5">
          <p class="text-lg">Handling an estate cleanout on your own is emotionally and physically taxing. Let Alpha Junk Removal & Services help. We offer professional estate cleanout services in Grand Island, NY and the Western NY area.</p>
          <p class="text-lg">We'll work hard to make the estate cleanout process as stress-free as possible while you grieve. You can even count on us to sweep and vacuum up afterward, so you won't have to worry about a thing.</p>
          <p class="text-lg">Lean on our team of courteous, trained professionals. Schedule your estate cleanout service in Grand Island, NY and the Western NY area today.</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
